<!DOCTYPE html>
<html>
  <head>
    <title>Sample Video Web</title>
  <%= render 'layouts/def'%>
  <body>
    <%= render 'layouts/header' %>
    <div align=center>
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
